.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* main header ------------------------------------ */
#main_header > h1 {
    padding: 0.3em;
}

/* pokemon search ------------------------ */
#search_bar, #search_bar > fieldset {
    margin-bottom: 0px;
}


/* pokemon header */
#pokemon_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.7em;
}

#pokemon_header > h2 {
    margin-right: 3em;
}

/* pokemon center left side ------------------------------*/
#left_side_center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 3em;
    margin-bottom: 0.6em;
}

#main_image {
    width: 80%;
    border: 2px solid;
    border-radius: 5%;
    background-color: rgb(211, 2, 211, 0.08);
}

#pk_image_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-left: 2em;
}

#pk_image_wrapper > * {
    margin-left: 1em;
}

#toggle_image_buttons_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#image_buttons_wrapper {
    display: flex;
    flex-direction: column;
}

#add_button_wrapper {
    display: flex;
    margin: auto;
    margin-left: 3em;
}

#add_button {
    margin: auto;
}

/* pokemon center right side  -------------------------- */
#pk_abilities_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
progress::-webkit-progress-bar {
    background-color: #f1f1f1;
    border-radius: 4px;
  }
  
  progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 4px;
  }

/* pokedex -----------------------------------*/
#pokedex_wrapper {
    margin-top: auto;
}

#pokedex_items_wrapper {
    background-color: rgb(237, 237, 237, 0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon_miniature_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.pokemon_miniature_wrapper > a, img {
    width: 70%;
}

.pokemon_miniature_wrapper > a:hover {
    cursor: pointer;
}

#delete_button {
    font-size: 6px;
    padding: 2px 4px; 
    width: 80%;
    height: 30px;
}

.miniature_name {
    font-weight: 500;
    padding: 0.3em;
}