.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* pokemon search ------------------------ */
#search_bar, #search_bar > fieldset {
    margin-bottom: 0px;
}


/* pokemon header */
#pokemon_header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#pokemon_header > h2 {
    margin-right: 3em;
}

/* pokemon image ------------------------------*/
.main_image {
    width: 50%;
    border: 1px solid;
    border-radius: 5%;
}

#pk_image_wrapper {
    /* display: flex; */
}

/* pokemon abilities -------------------------- */
#pk_abilities_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* pokedex */
#pokedex_wrapper {
    margin-top: auto;
}

#pokedex_items_wrapper {
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pokemon_miniature_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.pokemon_miniature_wrapper > a, img {
    width: 60px;
}

#delete_button {
    font-size: 6px;
    padding: 2px 4px; 
    width: 80%;
    height: 30px;

}